/* .accordion {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.accordion-header {
  padding: 10px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
  display: none;
} */
.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.accordion-header {
  padding: 10px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
  display: none;
}

button {
  margin-top: 10px;
}
